@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
}

body {
  display: flex;
  padding: 0 10px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #0d6efd;
}

.wrapper {
  width: 720px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.wrapper header {
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 1px solid #bfbfbf;
}

.wrapper form {
  margin: 35px 30px;
}

form .dbl-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.dbl-field .field {
  position: relative;
  height: 50px;
  width: calc(100% / 2 - 13px);
}

form .field input,
form .message textarea {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 16px;
  padding: 0 18px 0 48px;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
}

form .field input::placeholder,
form .message textarea::placeholder {
  font-style: italic;
  color: #bfbfbf;
}

form .field input:focus,
form .message textarea:focus {
  border: 2px solid #0d6efd;
}

form .field input:invalid,
form .message textarea:invalid {
  border: 2px solid red;
}

form .field input:valid,
form .message textarea:valid {
  border: 2px solid green;
}

form .message {
  position: relative;
}

form .message textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 120px;
  max-height: 300px;
  padding: 15px 20px 0 48px;
}

form .button-area {
  margin: 25px 0;
  display: flex;
  align-items: center;
  gap: 15px;
}

.button-area button {
  font-size: 18px;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  background-color: #0d6efd;
  padding: 13px 25px;
  transition: background-color 0.3s ease;
}

.button-area button:hover {
  background-color: #0046b3;
}

.button-area span {
  color: #0d6efd;
  display: none;
}

@media screen and (max-width: 600px) {
  .wrapper header {
    text-align: center;
  }

  form .dbl-field {
    flex-direction: column;
  }

  .dbl-field .field {
    width: 100%;
    margin-bottom: 20px;
  }

  form .button-area {
    flex-direction: column;
  }

  .button-area button {
    width: 100%;
  }

  .button-area span {
    text-align: center;
    margin: 10px 0;
  }
}
